#cover-art-image-cont {
  display: flex;
  margin-left: 1.5rem;
  border: 0.5px solid rgba(128, 128, 128, 0.332);
  border-left: none;
  border-right: none;
  width: 92%;
  align-items: center;
}

#image-btn-cont {

}

.cover-art-image {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 2px;
}

.cover-art-image:hover {
  cursor: pointer;
}

#song-information-cont {
  display: flex;
  gap: 20px;
  align-items: baseline; /* Adjust alignment as needed */
  
}

#cover-song-title,
#cover-song-artist,
#cover-song-genre {
  display: flex;
  margin-left: 3rem;
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
}




