#cover-art-image-cont {
  display: flex;
  margin-left: 1.5rem;
  border: 0.5px solid rgba(128, 128, 128, 0.332);
  border-left: none;
  border-right: none;
  width: 92%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}

#image-btn-cont {
  display: flex;
  position: relative;
}

.cover-art-image {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 2px;
}

.cover-art-image:hover {
  cursor: pointer;
}

.cover-art-image:hover + #button-cont {
  display: flex;
}

#button-cont {
  margin-left: -25px;
  margin-top: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pausebtn,
#playbtn {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
}

#pausebtn:hover {
  cursor: pointer;
}

#playbtn:hover {
  cursor: pointer;
}

#song-information-cont {
  display: flex;
  gap: 20px;
  align-items: baseline; /* Adjust alignment as needed */
  
}

#cover-song-title,
#cover-song-artist,
#cover-song-genre {
  display: flex;
  margin-left: 3rem;
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
}




