.open-modal-btn {
  border: none;
  color: gray;
  background-color: transparent;
  text-decoration: underline;
  z-index: 999;
  padding-left: 1.3rem;
}

.open-modal-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}