/* REACT PLAYER*/

/* Controls */
.react-h5-audio-player-container,
.rhap_main-controls {
  /* box-sizing: content-box !important;
  border: 1px solid gray; */
  color: white;
}

/* Progress */
.react-h5-audio-player-container,
.rhap_progress-section {
  margin-top: -0.5rem;
}

.react-h5-audio-player-container,
.rhap_progress-bar  {
  background: rgba(128, 128, 128, 0.259);
}

.react-h5-audio-player-container,
.rhap_progress-filled {
  background: red; 
}

.react-h5-audio-player-container,
.rhap_progress-indicator {
  background: none;
  opacity: 0; /* Initially hide the progress indicator */
  transition: opacity 0.2s ease; /* Add a smooth transition effect */
}

.react-h5-audio-player-container,
 .rhap_progress-indicator:hover {
  opacity: 1; /* Show the progress indicator on hover */
  background: white;
}

/* Time */
.react-h5-audio-player-container,
.rhap_time {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
}

/* Volume */

.react-h5-audio-player-container,
.rhap_volume-indicator {
  background: rgb(255, 0, 0);
}

.react-h5-audio-player-container,
.rhap_volume-bar {
  background: white;
}

.rhap_button-clear {
  color: white;
  background-color: transparent;
}

/* Other classes */
/* Music Player */

#audio-content {
  width: 30%;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
}

#song-image {
  height: 3.5rem;
  border-radius: 5px;
  margin-left: 2rem;
}

#song-info {
  font-weight: lighter;
  margin-left: 1rem;
}

#audiopause-btn:hover,
#audioplay-btn:hover {
  transform: scale(1.09);
}

#prev-btn {
  margin-bottom: 0.25rem;
}
#next-btn {
  margin-bottom: 0.25rem;
  margin-left: -0.5rem;
}

/* Left Side */
#song-title {
  font-size: 0.9rem;
}

#song-artist {
  color: gray;
  font-size: 0.8rem;
}

#prev-btn,
#next-btn {
  color: white
}

#prev-btn:hover,
#next-btn:hover {
  color: rgba(255, 255, 255, 0.859)
}





