/* REACT PLAYER*/

.react-h5-audio-player-container,
.rhap_container {
  /* border: 1px solid gray; */
}

/* Controls */
.react-h5-audio-player-container,
.rhap_main-controls {
  /* box-sizing: content-box !important;
  border: 1px solid gray; */
  color: white;
}

/* Progress */

.react-h5-audio-player-container,
.rhap_progress-filled {
  background: red; 
}
.react-h5-audio-player-container,
.rhap_progress-indicator {
  background: white;
}

/* Time */
.react-h5-audio-player-container,
.rhap_time {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
}

/* Volume */

.react-h5-audio-player-container,
.rhap_volume-indicator {
  background: rgb(255, 255, 255);
}

.rhap_button-clear {
  color: white;
  background-color: transparent;
}

/* Other classes */
/* Music Player */
#audioplayer-cont {
  /* background-color: #272626; */
  background-color: rgb(24, 23, 23);
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1.1rem;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  position: fixed;
}

#audio-content {
  width: 30%;
  /* border: 1px solid gray; */
  display: flex;
  align-items: center;
}

#song-image {
  height: 3rem;
  border-radius: 5px;
  margin-left: 2rem;
}

#song-info {
  font-weight: lighter;
  margin-left: 1rem;
}

.prev-btn {
  margin-bottom: 0.25rem;
}
.next-btn {
  margin-bottom: 0.25rem;
  margin-left: -0.5rem;
}

/* Left Side */
#song-title {
  font-size: 0.85rem;
}

#song-artist {
  color: gray;
  font-size: 0.7rem;
}



