/* all */

#all-navi-cont {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  width: 70px;
  background-color: transparent;
} 

.navigation-bar {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: -10px;
}

/* Home Page */

#navigation-bar-cont {
  height: 3rem;
  display: flex;
  align-items: center;
}

#homepage-right-side {
  position: absolute;
  right: 0;
  display: flex;
  gap: 5px;
}

#navigation-logged-in-leftside {
  position: absolute;
  right: 0;
}

#homepage-logout-btn {
  height: 2rem;
  width: 6rem;
  border-radius: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
  margin-left: 1rem;
  margin-right: 2rem;
}

#homepage-logout-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: white;
}

#homepage-signup {
  border: none;
  background-color: transparent;
}

#homepage-signup:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}

#homepage-signup-link {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

#homepage-signup-link:hover {
  color: white;
}

#homepage-login-btn {
  height: 2rem;
  width: 6rem;
  border-radius: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
}

#homepage-login-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: white; 
}

/* Log in Page */

#login-navigation-bar-cont {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: black;
}

#login-navigation-bar {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Sign up page */

#signup-navigation-bar-cont {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #121212;
}

#signup-navigation-bar {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

